/** {
  outline: 1px solid red;
}
*/

.navbar {
  position: sticky;
  top: 0px;
  z-index: 99;
  padding-left: 40px;
  padding-right: 40px;
}

.navbar .navbar-brand img {
  height: 30px;
  width: auto;
}

.jumbotron {
  position: relative;
  height: 450px;
  background-image: url(img/header_bgimage.jpg);
  background-attachment: fixed;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  color:white;
  border-radius: 0px;
}

.jumbotron h3 {
  padding-top: 150px;
}

.jumbotron span {
  color: orange;
}

.jumbotron p {
  padding-top: 20px;
  color: orange;
}

.technology {
  background-color: lightgray;
}

.technology img {
  width: 160px;
  height: 160px;
}

.technology .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.technology .container .row {
  padding-top: 50px;
}

.technology .container .row .col-md-3 h6 {
  padding-top: 50px;
}

.projects .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.projects .container h5 {
  padding-bottom: 30px;
}

.projects .container .logo {
  height: 130px;
  width: 130px;
  display: inline-block;
  padding: 10px;
}

.projects .container .logo img {
  height: auto;
  width: 100%;
}

footer {
  background-color: #343a40;
}

footer .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer .footer-logo {
  height: 160px;
  width: 160px;
}

footer .footer-logo img {
  height: auto;
  width: 100%;
}

footer ul {
  color: white;
  /*font-size: 13px;*/
}

footer .copyright hr  {
  background-color: white;
  opacity: 0.5;
}

footer .copyright {
  color: white;
  opacity: 0.5;
}

footer i {
  color: white;
  background-color: black;
  height: 30px;
  width: 30px;
  padding: 7px;
  text-align: center;
  border-radius: 2px;
}